.card {
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2rem;
  gap: 2rem;
  background-color: black;
}
